
.settings-page-wrapper {
  padding: .75rem;
  white-space: nowrap;
  width: 100%;
  transition: all .5s ease-in-out;
  h2 {
    white-space: nowrap;
    margin-top: .5em;
    font-weight: 500;
    font-size: 1.25rem;
  }
}