@use '../../colors' as *;

.file-uploader-wrapper {
  justify-self: flex-end;
  flex: 0 0 auto;

  .file-uploader__dropzone {
    width:100%;
    min-height: 8rem;
    min-width: 18rem;
    height: fit-content;
    // border-radius: 16px;
    // border: 1px dashed $secondary-dark-color;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23#{str-slice(inspect($secondary-dark-color), 2)}' stroke-width='4' stroke-dasharray='6%2c 16' stroke-dashoffset='32' stroke-linecap='square'/%3e%3c/svg%3e");
    &.dragging-over {
      
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='16' ry='16' stroke='%23#{str-slice(inspect($primary-light-color), 2)}' stroke-width='4' stroke-dasharray='6%2c 16' stroke-dashoffset='32' stroke-linecap='square'/%3e%3c/svg%3e");
    }
    .file-uploader__dropzone__text {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      white-space: pre-line;
      padding: 1em;
      p {
        width: 100%;
        max-height: 50%;
        margin-bottom: 0;
        text-align: center;
        line-height: 1.5em;
        label {
          color: $sub-header-color;
          cursor: pointer;
        }
      }
      .material-icons {
        font-size: 1.5em;
        line-height: unset;
        margin-top: .5rem;
      }
    }
    input {
      height: 0;
      width: 0;
    }
  }
  .file-uploader__files {
    height: fit-content;
    max-height: 10rem;
    overflow: scroll;
    overflow-x: hidden;
    font-size: .75rem;
    background-color: $secondary-dark-color;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    color: $primary-light-color;

    .file-uploader__file {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: .5em .5em;
      border-top: solid 1px $primary-dark-color;

      &:first-child {
        border: none;
      }

      .file-uploader__file__information {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        .file-uploader__file__information__left {
          flex: 1 1 auto;
        }
        .file-uploader__file__information__right {
          display: flex;
          align-items: center;

        }
      }
      .file-uploader__spinner__logo {
        margin-left: .25em;
        font-size: 1.25rem;
      }
      .file-uploader__file__name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .file-uploader__file__progress {
        margin-top: .25rem;
        display: flex;
        align-items: center;
        height: 3px;
        width: 100%;
        content: '';
        background-color: #999999;
        .file-uploader__file__progress__bar {
          height: 100%;
          background-color: $supplementary-color;
          content: '';
          &.completed {
            background-color: $accent-color-3;
          }
        }
      }
    }
  }
}