@use '../../colors' as *;

.file-uploader-wrapper {

  .file-uploader__input {
    display: flex;
    font-size: .75rem;
    font-weight: 200;
    padding-bottom: 1rem;
    justify-content: center;
    label {
      font-weight: inherit;
      width: 50%;
      gap: .25em;
      text-overflow: ellipsis;
      overflow: hidden;
      span {
        font-size: inherit;
        font-weight: inherit;
        padding-bottom: .125em
      }
    }
    input {
      height: 0;
      width: 0;
    }
  }
  .file-uploader__files {
    height: fit-content;
    max-height: 10rem;
    overflow: scroll;
    overflow-x: hidden;
    font-size: .75rem;
    background-color: $secondary-dark-color;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    color: $primary-light-color;

    .file-uploader__file {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: .5em .5em;
      border-top: solid 1px $primary-dark-color;

      &:first-child {
        border: none;
      }

      .file-uploader__file__information {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        .file-uploader__file__information__left {
          flex: 1 1 auto;
        }
        .file-uploader__file__information__right {
          display: flex;
          align-items: center;

        }
      }
      .file-uploader__spinner__logo {
        margin-left: .25em;
        font-size: 1.25rem;
      }
      .file-uploader__file__name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .file-uploader__file__progress {
        margin-top: .25rem;
        display: flex;
        align-items: center;
        height: 3px;
        width: 100%;
        content: '';
        background-color: #999999;
        .file-uploader__file__progress__bar {
          height: 100%;
          background-color: $supplementary-color;
          content: '';
          &.completed {
            background-color: $accent-color-3;
          }
        }
      }
    }
  }
}