@use '../../colors' as *;
@use 'sass:color' as color;

.single-file-wrapper {
  display: flex;
  width: 100%;
  padding: .375rem .5rem;
  align-items: center;
  justify-content: space-between;

  &.folder {
    cursor: pointer;
    &:hover {
      background-color: color.adjust($secondary-dark-color, $lightness: -5%);
    }
  }
  &:not(:first-child) {
    border-top: solid 1px $primary-light-color;
  }
  .single-file__left {
    min-width: 0;
    display: flex;
    flex: 1 1 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }

  .single-file__icon {
    font-size: 1.5em;
    padding: 0 .25em 0 0;
    .material-icons {
      font-size: inherit;
      vertical-align: text-bottom;
    }
    .folder {
      color: $cta-color;
    }
  }
  .single-file__information {
    font-size: .75rem;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;

    .single-file__name {
      min-width: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
    }
    .single-file__sub-information {
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-size: .625em;
    }
  }
  .single-file__actions {
    flex: 0 0 auto;
    justify-self: flex-end;
    margin-left: 1rem;
    * {
      cursor: pointer;
      &:hover {
        color: $secondary-light-color;
      }
    }
    .material-icons {
      font-size: 1.5em;
      vertical-align: text-bottom;
    }
  }
}