@use '../colors' as *;

.error-window-wrapper {
  z-index: 10000;
  position:fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,.75);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;

  .error-window-content {
    background-color: $primary-light-color;
    padding: 1rem;
    border-radius: .25rem;
    width: 32rem;
    max-width: 90%;
    min-height: fit-content;
    max-height: 90%;
    color: $primary-dark-color;
    display: flex;
    flex-direction: column;

    h1, h2, h3, h4, h5 {
      margin-top: .5em;
      margin-bottom: .75em;
    }
    p {
      margin-top: 0;
      margin-bottom: .5em;
      text-align: justify;
      text-justify: distribute;
      .material-icons {
        vertical-align: top;
      }
    }
    button {
      margin-top: 1.5em;
      align-self: flex-end;
      justify-self: last baseline;
    }
  }
}