

.pixel-streaming-wrapper {
  flex: 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pixel-streaming-wrapper__video {
  width: fit-content !important;
  height: fit-content !important;
  max-height: 100vh;
  max-width: 100vw;
  #streamingVideo {
    position: static !important;
    height: fit-content !important;
    max-height: 100vh;
    max-width: 100%;
    width: fit-content !important;
    box-shadow: 0 0 10px 10px #222222;
  }
}

.pixel-streaming-wrapper__prompt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  cursor: pointer;

  .pixel-streaming-wrapper__prompt__header {
    display: flex;
    flex-direction: column;
    border-bottom: #cccccc 1px solid;
    width: 18rem;
    height: 20rem;
    padding: 1rem;
    img {
      max-height: 100%;
    }
  }

  .pixel-streaming-wrapper__prompt__navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    .play-button-header {
      color: white;
      font-weight: 100;
      font-size: 2.5rem;
      margin: .5rem 0;
    }
    .play-button-wrapper {
      display: flex;
      width: 5rem;
      height: 5rem;
      font-size: 5rem;
      justify-content: center;
      align-items: center;
      color: white;
      border-radius: 999rem;
      background-color: black;
      .material-icons {
        font-size: 120%;
      }
    }
  }

  button {
    margin: 1rem;
    font-size: 1.5rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    padding: 1rem 2rem;
    cursor: pointer;
  }
}