@use '../colors' as *;
@use 'sass:color' as color;

.side-nav {
  z-index: 10;
  flex: 0 0;
  width: fit-content;
  box-shadow: color.adjust($primary-dark-color, $blackness: 50%) 0 0 5px 1px;
  height: 100%;
  background-color: $primary-dark-color;
  display: flex;
  .side-nav__content {
    transition: all .5s ease-in-out;
    width: 20em;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: $primary-light-color;
    border-right: $secondary-dark-color solid 1px;
    &.hidden {
      border-right: #{$secondary-dark-color}00 solid 1px;
      width: 0;
    }
  }
}

.side-nav__buttons {
  // border-left: #666666 solid 1px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.side-nav__button {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  height: 2.5em;
  width: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  cursor: pointer;
  color: color.adjust($primary-light-color, $blackness: 10%);
  &:hover, &.selected {
    color: $secondary-light-color;
    background-color: $secondary-dark-color;
  }
}
.side-nav__buttons__bottom {
  padding: .125rem .25rem;
}