@use '../colors' as *;
@use 'sass:color' as color;

$small-border-width: .09em;
$small-shape-width: .1em;
$large-border-width: $small-border-width * 3;
$large-shape-width: $small-shape-width * 3;

.stage-logo-wrapper {
  display: flex;
  align-items: center;
  font-size: inherit;
  width: fit-content;
  text-align: center;
  font-feature-settings: 'salt';
  * {
    font-family: 'TT Commons', 'Studio6', Arial, Helvetica, sans-serif;
  }

  &.large {
    .stage-logo-spinner {
      width: 3em;
      height: 3em;
      border-radius: 6em;
      .stage-logo-circle-background {
        border-width: $large-border-width;
      }
      .stage-logo-circle-foreground {
        border-width: $large-border-width;
      }
      .stage-logo-inner-shape {
        border-width: $large-shape-width;
      }
    }
    &.loading {
      .stage-logo-circle-foreground {
        div {
          border-width: $large-border-width;
        }
      }
    }
  }
  &.small {
    .stage-logo-spinner {
      width: 1em;
      height: 1em;
      border-radius: 2em;
      margin: 0 .3em 0 0;
      .stage-logo-circle-background {
        border-width: $small-border-width;
      }
      .stage-logo-circle-foreground {
        border-width: $small-border-width;
      }
      .stage-logo-inner-shape {
        border-width: $small-shape-width;
      }
      &.loading {
        .stage-logo-circle-foreground {
          div {
            border-width: $small-border-width;
          }
        }
      }
    }
  }

  &.vertical {
    flex-direction: column;
  }
  &.horizontal {
    flex-direction: row;
  }
  
  &.dark {
    color: $primary-dark-color;
    .stage-logo-text {
      color: $primary-dark-color;
    }
    .stage-logo-circle-background {
      background-color: $primary-light-color;
    }
    .stage-logo-circle-foreground {
      border-color: $primary-dark-color;
    }
    .stage-logo-inner-shape {
      border-color: $primary-dark-color;
    }
    .loading {
      .stage-logo-circle-foreground {
        div {
          border-color: $primary-dark-color transparent transparent transparent;
        }
      }
    }
    .checkmark {
      .stage-logo-circle-foreground {
        border-color: $accent-color-3;
      }
      .stage-logo-inner-shape {
        border-color: $accent-color-3;
        border-left-color: #{$accent-color-3}00;
      }
    }
  }
  &.light {
    color: $primary-light-color;
    .stage-logo-text {
      color: $primary-light-color;
    }
    .stage-logo-circle-background {
      background-color: $primary-dark-color;
    }
    .stage-logo-circle-foreground {
      border-color: $primary-light-color;
    }
    .stage-logo-inner-shape {
      border-color: $primary-light-color;
    }
    .loading {
      .stage-logo-circle-foreground {
        div {
          border-color: $primary-light-color transparent transparent transparent;
        }
      }
    }
    .checkmark {
      .stage-logo-circle-foreground {
        border-color: $accent-color-4;
      }
      .stage-logo-inner-shape {
        border-color: $accent-color-4;
        border-left-color: #{$accent-color-4}00;
      }
    }
  }
}
.stage-logo-text {
  font-weight: 700;
  font-size: 1em;
}
.stage-logo-subtext {
  font-weight: 300;
}

.stage-logo-spinner {
  position: relative;

  .stage-logo-circle-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: inherit;
    position: absolute;
    border: solid color.adjust($secondary-dark-color, $lightness: 30%);
  }
  .stage-logo-circle-foreground {
    border: solid;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
    border-radius: inherit;
  }
  .stage-logo-inner-shape {
    width: 60%;
    height: 20%;
    border: solid;
    border-bottom: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .25s ease-in-out;
  }

  &.loading {
    .stage-logo-circle-foreground {
      border: none;
      div {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        border: solid;
        border-radius: inherit;
        animation: rotate-spinner 1.4s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        &:nth-child(1) {
          animation-delay: -0.45s;
        }
        &:nth-child(2) {
          animation-delay: -0.3s;
        }
        &:nth-child(3) {
          animation-delay: -0.15s;
        }
  
      }
    }
  }
  

  &.checkmark {
    .stage-logo-inner-shape {
      height:30%;
      // border-bottom-left-radius: 300px;
      border-left-width: 0;
      transform: translate(-50%, -70%) rotate(135deg);
    }
  }
}

@keyframes rotate-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}