@use '../colors' as *;

.landing-page {
  width: 100%;
  height: 100%;
  position: relative;
  
  .landing-page__content {
    display: grid;
    position: absolute;
    padding: 6rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    grid-template-columns: 1fr 1fr;
    // background-color: $primary-light-color;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    .landing-page__logo {
      font-size: 3rem;
      border-right: 1px solid $primary-light-color;
      padding-right: 4rem;
      justify-self: flex-end;
    }
    .landing-page__buttons {
      padding-left: 4rem;
      justify-self: baseline;
      min-width: 18rem;
      .button {
        font-size: 1em;
        border-radius: 2em;
        padding: .6em 1em .5em;
        border-radius: 2em;
        width: 100%;
        margin: 1em 0;
      }
    }
  }
}