@use '../colors' as *;

.loading-page {
  display: flex;
  height: 100%;
  .loading-page__content {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    .loading-page__logo {
      font-size: 4rem;
      margin-bottom: 1rem;
    }
    .loading-page__text {
      border-top: solid 1px $primary-light-color;
      width: 100%;
      color: $primary-light-color;
      h1 {
        font-weight: 400;
      }

    }
  }
}
.loading-screen {
  flex: 0 1 auto;
  display: flex;
  img {
    display: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
    &.active {
      display: flex;
    }
  }
}