$primary-dark-color: #0E0D0F;
$secondary-dark-color: #494A4F;
$primary-light-color: #EFECEA;
$secondary-light-color: #FFFFFF;
$primary-mid-color: #0093E5;
$secondary-mid-color: #00B3F9;
$cta-color: #F19E4A;
$sub-header-color: #F19D4B;
$accent-color-1: #B31A1A;
$accent-color-2: #FF9A8A;
$accent-color-3: #17CAB6;
$accent-color-4: #8BDFC3;
$accent-color-5: #FFEF4C;
$accent-color-6: #FFF9B6;
$supplementary-color: #0457E4;
$supplementary-color-light: #75C3FF;