@use './colors' as *;
@use 'sass:color' as color;

* {
  box-sizing: border-box;
  font-family: 'Studio6', 'TT Commons', Arial, Helvetica, sans-serif;
  &::-webkit-scrollbar {
    border-radius: 0rem;
    height: 0.4rem;
    width: 0.4rem;
    &:horizontal {
      ::-webkit-scrollbar-track {
        
      }
    }
  }
  &::-webkit-scrollbar-thumb {
    background-color: #{$primary-light-color};
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: $secondary-dark-color;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border-left: solid 1px #{$primary-light-color}55;
  }
}
:root {
  font-size: 16pt;
  // line-height: 1rem;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: color.adjust($secondary-dark-color, $lightness: -15%);
}

#root {
  width: 100%;
  height: 100%;
}